[submodule "src/config/bash"]
	path = src/config/bash
	url = https://github.com/casjay-dotfiles/bash
[submodule "src/config/fish"]
	path = src/config/fish
	url = https://github.com/casjay-dotfiles/fish
[submodule "src/config/git"]
	path = src/config/git
	url = https://github.com/casjay-dotfiles/git
[submodule "src/config/htop"]
	path = src/config/htop
	url = https://github.com/casjay-dotfiles/htop
[submodule "src/config/neofetch"]
	path = src/config/neofetch
	url = https://github.com/casjay-dotfiles/neofetch
[submodule "src/config/transmission"]
	path = src/config/transmission
	url = https://github.com/casjay-dotfiles/transmission
[submodule "src/config/tmux"]
	path = src/config/tmux
	url = https://github.com/casjay-dotfiles/tmux
[submodule "src/config/vifm"]
	path = src/config/vifm
	url = https://github.com/casjay-dotfiles/vifm
[submodule "src/config/vim"]
	path = src/config/vim
	url = https://github.com/casjay-dotfiles/vim
[submodule "src/config/zsh"]
	path = src/config/zsh
	url = https://github.com/casjay-dotfiles/zsh
